<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Welcome to Slidev - Slidev</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=PT+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" type="text/css">
<link rel="icon" href="https://cdn.jsdelivr.net/gh/slidevjs/slidev/assets/favicon.png">
<meta property="slidev:version" content="52.0.0">
<meta name="description" content="&quot;## Slidev Starter Template\nPresentation slides for developers.\n\nLearn more at [Sli.dev](https://sli.dev)\n&quot;">
<meta property="og:title" content="Welcome to Slidev - Slidev">
<meta property="og:description" content="&quot;## Slidev Starter Template\nPresentation slides for developers.\n\nLearn more at [Sli.dev](https://sli.dev)\n&quot;">  <script type="module" crossorigin src="/slidev-template-repo/template/assets/index-wl8xzeNa.js"></script>
  <link rel="modulepreload" crossorigin href="/slidev-template-repo/template/assets/modules/vue-BG18ae0b.js">
  <link rel="modulepreload" crossorigin href="/slidev-template-repo/template/assets/modules/file-saver-DnRyLYBS.js">
  <link rel="modulepreload" crossorigin href="/slidev-template-repo/template/assets/monaco/bundled-types-CmIplDhV.js">
  <link rel="modulepreload" crossorigin href="/slidev-template-repo/template/assets/modules/shiki-BFMNGhGn.js">
  <link rel="stylesheet" crossorigin href="/slidev-template-repo/template/assets/monaco/bundled-types-CrnDBgIk.css">
  <link rel="stylesheet" crossorigin href="/slidev-template-repo/template/assets/modules/shiki-CozCpemh.css">
  <link rel="stylesheet" crossorigin href="/slidev-template-repo/template/assets/index-BBLHHLej.css">
</head>
<body>
<div id="app"></div>
<div id="mermaid-rendering-container"></div>
<script async src="https://platform.twitter.com/widgets.js"></script>
</body>
</html>
